
.founder-name{
    color:#0a0a0af8;
    justify-content: center;
    padding:4px;
    width:auto;
}
.about-founder p{
    text-align: justify;
    font-size: 20px;
    gap:6px;
}
.about-para{
    text-align: justify;
    font-size: 20px;
}