.about-image{
    margin-top:83px;
    height: 430px;
}
.founder-name,.team-member-name{
    color:#0a0a0af8;
    justify-content: center;
    padding:4px;
    width:auto;
    font-size: 18px;
}
.about-founder p{
    text-align: justify;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fbffc0;
  }
.about-para{
    text-align: justify;
    font-size: 18px;
}
