.page-about{
    margin-top:50px;
}
.founder-name{
    background-color: rgb(29, 15, 15);
    color:#fff;
    justify-content: center;
    padding:0px;
}
.about-founder p{
    text-align: justify;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    gap:6px;
}
.about-para{
    text-align: justify;
}