@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Times New Roman', Times, serif;
  /* font-family: "Merriweather", serif;  */
  margin: 0px;
  padding: 0px;
}
:root {
  --theme-color:#15213d;
  /* --theme-color: rgb(79, 66, 180); */
  --footer-color: #0f2f7b;
}
.highlight-color {
  color: var(--theme-color);
}
.navigation-options {
  background-color: var(--theme-color);
  color: white;
  display: flex;
  justify-content: center;
  padding: 12px;
}
.navbar-heading {
  align-items: left;
  justify-content: center;
}
.navbar-mnu {
  text-align: end;
  justify-content: center
}
ul {
  display: flex;
  justify-content: center;
  text-align: right;
  align-items: right;
  list-style-type: none;
}
.nav-link {
  color: white;
  padding: 15px;
  font-size: 14px;
  margin-left: 20px;
  justify-content: end;
}
a {
  text-decoration: none;
  color: white;
}
.break-line {
  background-color: var(--theme-color);
  height: 1px;
  margin-bottom: 0px;
  width: 80%;
}
.foot-part {
  background-color: var(--theme-color);
  color: white;
}
.foot-list {
  text-align: left;
  display: block;
  font-size: 16px;
}

.enquiry {
  position: fixed;
  top: 50%;
  left:93%;
  transform: translateY(-50%) rotate(270deg);
  background-color: #f5cb58;
  padding: 7px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
@media (max-width: 786px) {
  .navbar-toggler{
    background-color: rgb(243, 237, 237);
  }
  .navbar-heading {
    justify-content: space-between;
  }
  .enquiry {
    position: fixed;
    top: 40%;
    left:74%;
    transform: translateY(-50%) rotate(270deg);
    background-color: #f5cb58;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
  }
  .foot-part {
    background-color: var(--theme-color);
    color: white;
    margin: auto;
    padding: 8dpx;
  }
  .foot-list {
    text-align: left;
    display: block;
    padding: 0px;
  }
}
