@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Merriweather", serif;
  margin: 0px;
  padding: 0px;
}
:root {
  --theme-color: rgb(79, 66, 180);
  --footer-color: #0f2f7b;
}
.highlight-color {
  color: var(--theme-color);
}
.navigation-options {
  background-color: var(--theme-color);
  color: white;
  display: flex;
  justify-content: center;
  padding: 12px;
}
.navbar-heading {
  align-items: left;
  justify-content: center;
}
.navbar-mnu {
  text-align: end;
  justify-content: center
}
ul {
  display: flex;
  justify-content: center;
  text-align: right;
  align-items: right;
  list-style-type: none;
}
.nav-link {
  color: white;
  padding: 15px;
  font-size: 14px;
  margin-left: 20px;
  justify-content: end;
}
a {
  text-decoration: none;
  color: white;
}
.break-line {
  background-color: var(--theme-color);
  height: 1px;
  margin-bottom: 0px;
  width: 80%;
}
.foot-part {
  background-color: rgba(0, 0, 0,0.7);
  color: white;
}
.foot-list {
  text-align: left;
  display: block;
  font-size: 16px;
}
@media (max-width: 786px) {
  .navbar-heading {
    justify-content: space-between;
  }
  .foot-part {
    background-color: rgba(0, 0, 0,0.7);
    color: white;
    margin: auto;
    padding: 8dpx;
  }
  .foot-list {
    text-align: left;
    display: block;
    padding: 0px;
  }
}
