.contact-img {
  width:100%;
  object-fit: cover;
}
.contact-bottom {
  background-color: var(--theme-color);
  color: #fff;
}
.contact-form-button {
  background-color: white;
  margin-top: 12px;
  padding: 6px 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: #555353;
}
.contact-form-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fbffc0;
}
@media (max-width: 786px) {
  iframe {
    width: 280px;
  }
  .contact-img {
    margin-top:83px;
  }
}
