.carousel-div{
  margin-top:76px;
}
.carousel-inner {
  max-height: 500px;
}
.item {
  height: 100%;
  width: 100%;
}
.break-line {
  background-color: var(--theme-color);
  height: 1px;
  margin-bottom: 0px;
  width: 80%;
}
.para {
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
  padding: 14px;
  margin-top: 12px;
}
.read-more {
  align-items: end;
}
.read-more button {
  background-color: var(--theme-color);
  color: white;
  justify-content: end;
}
.testimonial {
  text-align: justify;
  padding: 14px;
  margin-top: 12px;
}
.testimonial-para {
  border: 1px solid black;
  padding: 9px;
  font-size: 16px;
  gap: 2px;
}
.test-carousel {
  width: 70%;
  height: 100%;
}
.card-product {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 19px;
  font-size: 18px;
  color: white;
  text-align: justify;
}
.card-img {
  width: 50%;
  height: 50%;
  padding: 0px;
  margin-bottom: 12px;
}
