.carousel-div{
  margin-top:76px;
}
.carousel-inner {
  max-height: 500px;
}
.break-line {
  background-color: var(--theme-color);
  height: 1px;
}
.para {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  padding:10px;
  margin-top: 12px;
}
.testimonial-para {
  border: 1px solid black;
  font-size: 16px;
}
.test-carousel {
  width: 80%;
  height: 100%;
}
.card-product {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  font-size: 16px;
  color: white;
  text-align: justify;
}
.card-img {
  object-fit: cover;
  height:30vh;
}
@media (max-width: 786px) {
  .test-carousel {
    width: 100%;
  }
  .card-product {
    background-color: rgba(0, 0, 0, 0.7);
    padding:20px;
    font-size: 14px;
    color: white;
    text-align: justify;
  }
  .card-img {
    object-fit: container;
    height:20vh;
  }
}
